# ESP-IDF build folder
build/
sdkconfig
sdkconfig.old

# VS Code
.vscode/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake